.header-top{
    width:100%;
    background-color:yellow;
}
/*body */


body {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;

    /* ストライプ作り方 http://mae.chab.in/archives/2269 */
    background-image: linear-gradient(45deg,
    #fff 25%, #cccccc 25%,
    #cccccc 50%, #fff 50%,
    #fff 75%, #cccccc 75%,
    #cccccc);
    background-size: 6px 6px;
}

li {
    list-style: none;
}

table a {
    display: block;
    width: 100%;
    height: 100%;
}

.all-contents{
    width:960px;
    margin:0 auto 0 auto;
}
.midashi {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCCC;
    height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 15px;

}

/*ヘッダー*/

.header a {
    color: white;
    text-decoration: none

}

.header a:hover {
    color: white;
    background: #ff2264;
}

.header a:active {
    color: white;
    background-color: #ff2264;
    border-bottom: 0px;

}

.header a:visited {
    color: white;
    background-color: #ff2264;
    color: white;
}

.header table th:active {
    background-color: #ff2264;
}

.header table td:active {
    background-color: #ff2264;
}

.header {
    width: 100%;
}

.header img {

    display: block;
    width: 100%;
    height:300px;
    background-color: white;


}

.header-image {
height:200px;
    overflow: hidden;

}

.header table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;

}

.header table th {

    font-size: 20px;
    margin: 0px;
    width: 20%;
    height: 50px;
    background-color: #ff4275;
    color: white;
    border-right: solid #ffffff 1px;
    border-top: solid #ffffff 1px;
    border-left: solid #ffffff 1px;
    border-bottom: 0px;
    font-weight: normal;
    /*セルの中央に配置*/
    line-height: 50px;
}

.header table td {

    width: 20%;
    background-color: #de1260;
    height: 5px;
    margin: 0px;
    padding: 0px;
    border-right: 1px white solid;
    border-left: 1px white solid;
}
.header-popular img{
    height:auto;
}

.header-popular table td{
    width:25%;
    text-align:center;
    float:left;
}

.header-popular-image{
    height:50px;
    overflow:hidden;
}
/*メイン*/
.main {
    float: left;
    width: 52%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;

}

.main table {
    border-collapse: collapse;
    border: solid 1px;
    width: 100%;
}

.main th {
    border: solid 1px;
}

.main img {
    width: 100%;
    margin-top: 10px;
}

.new-event {
    padding-left: 0px;
}

.article-title {
    width: 100%;
    height: 25px;
    background-color: #ff4275;
    margin-top: 0px;
    color: white;
    text-align: center;
    border-bottom: #de1260 5px solid;
    padding-top: 15px;
    font-size: 20px;
}

.popular-article {
    margin-top: 100px;

}

.popular-article ul {
    padding: 3px;
}

.popular-article img {
    width: 100%;
}

.popular-article li {
    padding: 0;
    float: left;
    width: 28%;
    margin-right: 5%;
}

/*サイドバー左*/
.arm-menu li {
    margin-right: 0px;
    margin-top: 0px;
    font-size: 10px;
    padding-left: 0px;
    border-bottom: #eeeeee solid 1px;
}

.bougu-menu li {
    margin-right: 0px;
    margin-top: 0px;
    font-size: 10px;
    padding-left: 0px;
    border-bottom: #eeeeee solid 1px;
}

.sidebar-left {
    float: left;
    width: 20%;
    height: 100%;
    background-color: white;
    margin-left: 2%;
    margin-top: 10px;
    padding-top: 0px;

}

.sidebar-left table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-top: 0px;
}

.sidebar-left td {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    height: 20px;
    border-bottom: solid 4px #eeeeee;

    font-size: 15px;
    /*セルの中央に配置*/

}

.sidebar-left h1 {
    border-bottom: #de1260 5px solid;
    padding-top: 15px;
    font-size: 20px;
    height: 25px;
    align-content: center;
    text-align: center;
    background-color: #ff4275;
    color: white;
    margin-top: 0px;

}

.sidebar-left a {
    text-decoration: none;
    color: #2E2F30;
}

.sidebar-left a:hover {
    background: white;
}

.sidebar-left a:active {
    background-color: #eeeeee;
}

/* サイドバー右*/

.sidebar-right {
    float: right;
    width: 20%;
    background-color: white;
    margin-right: 2%;
    margin-top: 10px;
    height:100%;
}
.sidebar-right figcaption{
    margin-bottom:30px;
    border-bottom:solid 1px black;
}

.sidebar-right li{
    width: 160px;
    height: 120px;
    overflow: hidden;
}

.sidebar-right table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;

}

.sidebar-right td {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    height: 30px;
    border-bottom: solid 4px #eeeeee;
    font-size: 35px;
    /*セルの中央に配置*/
    background-color: yellow;

}

.sidebar-right h1 {
    border-bottom: #de1260 5px solid;
    height: 25px;
    padding-top: 15px;
    font-size: 20px;
    align-content: center;
    text-align: center;
    background-color: #ff4275;
    color: white;
    margin-top: 0px;
}

.sidebar-right a {
    text-decoration: none;
    color: #2E2F30;
}

.sidebar-right a:hover {
    background: white;
}

.sidebar-right a:active {
    background-color: #eeeeee;
}

.sidebar-right img {
    width:100%;

    margin: 0px;
    padding: 0px;

}

.sidebar-right ul {
    margin: 0px;
    padding: 5px;
}

.footer-bottom {
    width:100%;
    clear: left;
    background-color: #ff4275;
    height: 200px;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    color: white;
    text-align: center;
}

.footer-bottom li {
    width: 20%;
    float: left;
    margin-bottom: 10px;
}



