// Place all the styles related to the arms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main td {
  border-collapse: collapse;
  border: solid 1px black;
  text-align: center;
  font-size: 10px;
  height: 40px;

  padding: 20px;
}

.main table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.main th {
  background-color: #eeeeee;
}









