// Place all the styles related to the arms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bougu td {
  border-collapse: collapse;
  border: solid 1px black;
  text-align: center;
  font-size: 2px;
  height: 10px;
  padding: 2px;
}

.bougu table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.bougu th {
  background-color: #eeeeee;

}









