// Place all the styles related to the hakkens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hakken {
  padding: 10px;
}

.hakken table {
  font-size: 8px;
  border-color: white !important;
}

.hakken table td {
  font-size: 10px;
  padding: 0px;
  border-color: white !important;

}

.even td {
  background-color: #EEEEEE;
  margin:0px;
}

.hakken table th {
  font-size: 10px;
  background-color:#EEEEEE;
  border:white;
  height:20px;


}

.hakken table td img {
  width: 40px;
  height: 40px;
}

.hakken img{
  width:40px;
  height:40px;
}

.mikata table td img{
  width:45%;
  height:auto;

}