<h1 class =“kiji-title”>HRの上げ方[序盤]</h1>
HR（ハンターランク）は宝物庫で輝石を使うことであげることができます。
HRを上げることによって強力な武器を入手することのできるクエストを受注できるようになるので、初めはHRを上げることを目指しましょう。
HRを15まで上げると襲来クエスト[中級]に挑むことができ、☆3武器を入手することができます。
ここまでは順番通りにストーリを進めつつ発見物を入手していくのが効率的です。<br>
<%= image_tag("kiji/"+@note.id.to_s+"-1")%>>