

<h2>タイトル</h2>
<p><%= @note.title %></p>



<h2>内容</h2>
<p><%= @note.body%></p>



<br>
<div class ="kiji">

<title>【モンハンエクスプロア攻略】序盤はこれをやれ！効率のいい進めかた</title>

<h1 class="kiji-title">序盤オススメの進めかたを解説！</h1>

iOS版の配信も2015年9月29日に決定した『モンスターハンターエクスプロア』。配信前に、あらためて序盤の進め方を徹底的に解説。これからゲームをはじめるハンターは、ぜひ参考にしてゲームを効率的に進めてほしい。

まずは探検で素材集めとHR上げ

ゲーム序盤は、☆2の武器を使用して進めていくのが基本になる。まずは☆2武器を手に入れる準備として、探検で☆1武器強化のための素材とHR上げをしよう。

最初にやることはふたつ。最初から所持している☆1武器のいずれかをレベル10まで強化することと、HRを5まで上げることだ。武器をレベル10まで上げるのに必要な、モンスターの体液は探検クエストを進めていれば自然に集まる。

クエスト4-7、青き熊ふたたびで入手できるカガミ蝶まで入手すると、HRが5になり、体力や攻撃/防御力もわずかに上昇する。ここまで進めたら武器をレベル10まで強化し、装備収集クエストに挑もう。

01
▲マラクジャ島の発見物は簡単に手に入る。クエストをドンドン進めよう。
[HRの上げかたはコチラを参照]
※これでHR15＆25は確実！発見物まとめ＆HRを効率よくアップ
※オートでHR25を目指してみた！時間と費用やいかに？
※HR40＆60は確実！☆4装備ゲットを目指すための発見物まとめ

<h2 class="kiji-title">装備収集クエストで☆2武器を入手</h2>

装備収集クエストに挑む際は、最低でも攻撃力200～250にすると効率的。回避に自信がない場合は、同様に防御力も上げよう。

装備収集クエストで最初に討伐することになるのはドスジャギィ。強化した武器であれば容易に討伐が可能なはずだ。ただし、ここで入手できるドスジャギィの☆2武器は、他の☆2武器に比べて少々攻撃力が劣る。
・ドスジャギィの大剣：荒くれの大剣☆2（攻撃力114→451）
・ボルボロスの大剣：ドラグロソード☆2（攻撃力115→607）

この先も使用することになる武器であるため、ドスジャギィ以降に戦えるモンスターの武器を入手し、強化するようにしよう。装備収集クエストで戦えるアオアシラ、ウルクスス、ラングロトラ、クルペッコ、ボルボロスの5体の武器性能は横ばい。どれかひとつを強化できれば十分だ。

02
▲☆2の武器を手に入れることが、つぎの目標。
モンスターの攻撃を回避、ガードするのが苦手な場合は、同クエスト内で入手できる☆2防具も入手し、それを強化して防御力を上げよう。同モンスターの武器、防具を揃えると武技も発動させやすい。

※装備収集クエスト攻略リンク
まずはドスジャギィで武器を入手せよ！
アオアシラでひとつ上の男に（女も）
ウルクスス装備収集クエスト攻略法
ラングロトラ装備収集クエスト攻略法
クルペッコ装備収集クエスト攻略法
ボルボロス装備収集クエスト攻略法

<h3 class="kiji-title">☆2武器を強化</h3>

無事☆2武器を入手できたら、まずはレベル10まで強化しよう。☆1のときに比べ、強力になっているはずだ。その武器を使用し、次は素材ツアーの初級に行こう。素材ツアーは複数あるが、最初の強化をする際は、いずれの素材ツアーでも問題はない。

ここで入手したいのは、“純血晶”という強化素材。武具の強化に必要になるこの素材を計18個集めておきたい。素材ツアーのモンスターは強くないため、☆2武器を持っていれば攻略は容易なはず。

 素材1
▲純血晶は換金素材ツアーでも入手できる。序盤は喉から手が出るほど欲しいが、すぐにメチャクチャ余ることになるはず。いわばハズレ素材とも言える……。
この“純血晶”を18個集めておけば、あとは探検で入手できる素材で武器をレベル20まで強化できる。

素材が集まったら探検クエストを進め、その道中に素材が揃えば武器を強化していこう。モンスターが強くなってきたと感じたら、強化素材を確認して素材集めをしても良い。

<h4 class="kiji-title">襲来クエストに挑むまでの道のり</h4>

☆3の武器を入手できる襲来クエストに挑むためには、HRを15まで上げる必要がある（上級は25）。武器、できれば防具もレベル20まで強化しつつ、探検クエストを進めてハンターランクを上げていこう。
[HRの上げかたはコチラを参照]
※これでHR15＆25は確実！発見物まとめ＆HRを効率よくアップ
※オートでHR25を目指してみた！時間と費用やいかに？
理想はモンスターの弱点に合わせた武器、防具を揃えることだが、腕に自信がある場合はどれか1種類の武具を強化するだけでもいい。
武器は、多くのモンスターに有効になる武技“一閃”を持つ武器がオススメだ。防具も武器と同様のモンスターから取れるものであれば、防御力、技玉ともに充分な物になる。
攻撃、防御力それぞれ550ほどあれば襲来クエストに挑める。不安な場合はパワーアップやコンテニューを使うか、攻防ともに500くらいまで上げるといい。
襲来クエストで☆3武器をゲットしたら、ひとつ上のランクに突入だ。


</div >
