

<!--データベースの内容を "_kiji.html.erb"に書き込んで、それを読み込んでいる -->
<!--これによってデータベースのなかでrubyを使える-->
<% File.write("app/views/notes/_kiji.html.erb",@note.body_1) %>
<%= render "notes/kiji" %>



<p>aaaaaafewfjaioefjeioafjwiefjwioafjwaeoifjewioafjewioafjewiojiowajfあああああaewffa</p>
<div class="kiji">
  <div class="kiji-title">
  <h1>pure chaos22222</h1>
  <p>2016/6/6/21:20</p>
</div>
  <div class="kiji-text">
  <%=  image_tag("kiji/pure.gif") %>
  <ul>


  <li class="first">
    <p class="name">yellow_logic</p>
    <p class="jap">女の子たちはチャンピオンみたいに転んだけど、本当のチャンピオンは車で転んだ男の子さ。
    彼は顔を使わずにブレーキをかける方法を一生学べないだろう</p>
    <p class="eng">Those girls took those faceplants like champs.
    But the real champ is Car Faceplant Boy. He never could learn how to brake without using his face.</p>
  </li>

  <li class="second">
    <p class="name">WolfOfSesameSt</p>
    <p class="jap">GTA5にこの子たちのmodが欲しいよ</p>
    <p class="eng">I want a GTA V mod with these orange kids cars so bad</p>
  </li>

    <li class="third">
    <p class="name">WolfOfSesameSt</p>
    <p class="jap">見つけたよ</p>
    <p class="eng">I think i found it
    https://youtu.be/cIfkMBDn9ZI</p>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/cIfkMBDn9ZI" frameborder="0" allowfullscreen></iframe>
    </li>


    <li class="forth">
    <p class="name">skottdaman</p>
    <p class="jap">史上最もゆっくりなカージャックだな。少なくとも彼は最後には逮捕されたね</p>
    <p class="eng">That was the slowest car jacking ever. At least he got busted at the end.</p>
    </li>
    <li class="fifth">
      <p class="name">tapport</p>
      <p class="jap">逮捕？彼には自動車を盗られたんだ、俺たちの正義のシステムは銃で撃つことだよ</p>
      <p class="eng">Busted? They provided him with his own vehicle, our justice system is shot.</p>
  </li>
    <li class="six">
      <p class="name">annefrankenstein</p>
      <p class="jap">ありがとう。オバマ</p>
      <p class="eng">thanks obama</p>
    </li>













    </ul>
</div>
