<h2>タイトル</h2>
<p><%= @note.title %></p>



<h2>内容</h2>
<p><%= @note.body %></p>



<br>
<div class="kiji">

  <title>初心者の効率の良い進め方</title>
  <br>

  <h1 class="kiji-title">最強を目指すには</h1><br>

  ここでは現在最強である☆４装備を揃えることを目標にして、序盤からの進め方を紹介する。<br><br>


  <h2 class="kiji-title">ハンターランク３にしよう</h2><br>

  今作ではHRと装備の強さでステータスが決まる。<br>
  HRを上げると基礎ステータスが上昇し、そこに装備の攻撃力や防御力が加わったものがプレイヤーの強さとなる。<br><br>

  まずは探索クエストを進めることでハンターランクを３にしよう。<br>
  また、武器を強化することで、☆２装備を集めるための準備をしておこう。<br><br>

  <h3 class="kiji-title">☆２装備を集めよう</h3><br>


  HRが３になるとマルチクエストの装備収集クエストに行けるようになる。<br>
  モンスターを一つ選んで装備を集めよう。<br><br>
  ☆３武器を集めるためのつなぎの装備であるので適当に集めれば大丈夫だ。<br><br>
  おすすめ武器はなんといっても大剣。序盤の敵は強くないので時間効率の良い武器を選ぼう。<br><br>

  <h4 class="kiji-title">☆２装備の強化＆HR15</h4><br>


  これからの目標は装備を強化し、HRをあげて、襲来クエスト【中級】をクリアすることだ。<br><br>

  襲来クエスト【中級】では☆3の武器を入手することができる。<br>
  攻撃力は、防御力が500以上あれば勝てるだろう。<br><br>

  ここまでくれば中級者だ！<br>


  装備を強化し、探索クエストを進めていけばそう時間はかからないだろう。


</div>
