
<div class= "main-content">
<h1 class="kiji-title">最新イベント情報</h1>
<ul class="new-event">
  <li><h1 class="kiji-title">2015年10月28日大型アップデート</h1>
    <%= link_to image_tag("2015-10-28-update.png") ,root_path %>

  </li>

  <li><h1 class="kiji-title">進撃の巨人コラボイベント</h1>
    <%= link_to image_tag("shingeki.jpg") ,root_path %>

  </li>


  <li><h1 class="kiji-title">☆4襲来クエスト</h1>
    <%= link_to image_tag("rare_4_quest.jpg") ,root_path %>

  </li>



</ul>

<p >最新実況動画</p>
<iframe   src="https://www.youtube.com/embed/dwz64Krop7U" frameborder="0" allowfullscreen></iframe>

</div>