<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>


<h1>ようこそ</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dwz64Krop7U" frameborder="0" allowfullscreen></iframe>