

  <% @notes_order=Note.order(id: :desc) %>



<% @note = @notes_order.take(5) %>


    <% @note.each do |note| %>
      <table class="new-kiji">
      <tr>
        <td rowspan="2" class="td-image"><%= image_tag(note.id)%></td>
      <td class="new-title"><%= link_to note.title, note_path(note.id) %></td>
        </tr>
        <tr><td><%= note.created_at.to_s[0,16] %></td></tr>
      </table>

<% end %>
</table>