/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require_self
 */

/*body */
body {
    margin: 0px;
}

li {
    list-style: none;
}

table a {
    display: block;
    width: 100%;
    height: 100%;
}

/*ヘッダー*/

.header {
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none

}

.header a:visited {
    color: white;
    background-color: #ff2264;
    color: white;
}

.header a:hover {
    color: white;
    background: #ff2264;
}

.header a:active {
    color: white;
    background-color: #ff2264;
}

.header img {

    display: block;
    width: 100%;
    height: 100%;
    background-color: white;

}

.header-image {
    height: 100%;

}

.header table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;

}

.header table th {

    font-size: 35px;
    margin: 0px;
    height: 100px;
    width: 25%;
    background-color: #ff4275;
    color: white;
    border-bottom: #de1260 9px solid;
    border-right: solid #ffffff 1px;
    border-top: solid #ffffff 1px;
    border-left: solid #ffffff 1px;
    font-weight: normal;
    /*セルの中央に配置*/
    line-height: 100px;
    text-align: center;

}

.header table th:active {
    background-color: #ff2264;
}

.header table td:active {
    background-color: #ff2264;
}

/*メイン*/
.main {
    margin: 0 auto;
    margin-bottom: 150px;
}

.main table {
    border-collapse: collapse;
    border: solid 1px;
    width: 100%;
}

.main th {
    border: solid 1px;
}

.main img {
    width: 100%;
    margin-top: 10px;

}

.main iframe {
    height: 500px;
}

/*フッター*/

.footer a {
    text-decoration: none;
    color: #2E2F30;
}

.footer a:hover {
    background: white;
}

.footer a:active {
    background-color: #eeeeee;
}

.footer {
    width: 100%;
    clear: left;
}


.footer h1 {
    color: white;
    border-bottom: #de1260 9px solid;
    height: 50px;
    padding-top: 25px;
    padding-bottom:15px;
    font-size: 35px;
    margin-top: 25px;
    align-content: center;
    text-align: center;
    background-color: #ff4275;

}

.footer table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

.footer td {
    width: 2000px;
    margin: 0;
    font-size: 35px;
    /*セルの中央に配置*/
    line-height: 30px;

}

.footer ul {
    margin-bottom: 50px;
}

.footer-menu-title {
    background-color: #f3f3f3;
    width: 100%;
}


.footer-guide td a{
    color:#0084cd;
    padding-top:15px;

}

.footer-guide tr a{
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:solid 3px #EEEEEE;
}
.footer-ninki table {
    width:100%;
    padding:30px;
}

.footer-ninki td img{
    height:auto;
    width:10%;
}

.footer-ninki td{
    padding:20px;
}
.footer-ninki td a{
    color:#0084cd;
    padding-top:15px;
    font-size:33px;
    width:90%;
    float:right;
}

.footer-ninki th{
    width:30px;
}
.footer-ninki tr a {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 3px #EEEEEE;
}






.footer-buki td {
    font-size: 28px;
    color: #0084cd;
    padding-bottom: 10px;
}

.footer-buki td a {
    color: #0084cd;
}

.footer-buki {
    margin-top:40px;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 15%;
}

.footer-bougu{
    margin-bottom:50px;
}

.footer-bougu table {
    width: auto;
    margin-bottom:10px;
    margin-left:10%;
    margin-right:15%;

}
.footer-bougu tbody{
    width:100%;
}

.footer-bougu td {
    font-size: 28px;
    padding-bottom: 5px;
    text-align: center;
}
.footer-bougu p{
    width:auto;
    margin-bottom:0;
    margin-top:20px;
    margin-left:30px;
    font-size:25px;
    color:#555555;
}

.footer-bougu td a {
    width:100%;
    margin: 0px;
    color: #0084cd;
    text-align:left;
    padding-left:0;
}


.footer-bougu th {
    padding-bottom: 10px;
    font-size: 28px;
    width:auto;
    text-align:left;
    padding-left:30px;
}



.footer-hakken {
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #f4f4f4;
    font-size: 30px;
    padding: 10px;
}


.footer-menu td a {
    color: #0084cd;
}


.footer-menu ul {
    margin-top:10px;
    margin-bottom:10px;

}
.footer-menu ul li{
    margin-top:10px;
}
.footer-hakken{
  margin-top:50px;
  margin-bottom:0;
  background-color:#f4f4f4;
  font-size:30px;
  padding:10px;
}


.footer-bottom {
    background-color: #ff4275;
    height: 180px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer-bottom li a{
    width: 20%;
    float: left;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
}

/*ページトップへ */
.kotei {
    position: fixed;
    bottom: 0px;
    font-size: 40px;
    color:white;
    background-color: #cacaca;
    width: 100%;
    height: 70px;
    padding-top: 35px;
    text-align: center;
    opacity:0.9;


}

.kotei a {
    display: block;
    color:white;
    height: 100%;
    width: 100%;
    text-decoration: none;
    }



/*パスリンク表示*/
.pass{
    margin :20px;
    font-size:20px;
}






/*消してもいいよ*??/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td  {
    margin: 0;  padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var  {
    font-style: normal;
}
table   {
    border-collapse: collapse;  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6  {
    font-size: 100%;
}

