/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require_self
 */

/*body */
body {
    margin: 0px;
}

li {
    list-style: none;
}

table a {
    display: block;
    width: 100%;
    height: 100%;
}

/*ヘッダー*/

.header a {
    color: white;
    text-decoration: none

}

.header a:hover {
    color: white;
    background: #ff2264;
}

.header a:active {
    color: white;
    background-color: #ff2264;
}

.header a:visited {
    color: white;
    background-color: #ff2264;
    color: white;
}

.header table th:active {
    background-color: #ff2264;
}

.header table td:active {
    background-color: #ff2264;
}

.header {
    width: 100%;
}

.header img {

    display: block;
    width: 100%;
    height: 100%;
    background-color: white;

}

.header-image {
    height: 100%;

}

.header table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;

}

.header table th {

    font-size: 35px;
    margin: 0px;
    height: 100px;
    width: 25%;
    background-color: #ff4275;
    color: white;
    border-bottom: #de1260 9px solid;
    border-right: solid #ffffff 1px;
    border-top: solid #ffffff 1px;
    border-left: solid #ffffff 1px;
    font-weight: normal;
    /*セルの中央に配置*/
    line-height: 100px;

}

/*メイン*/
.main {
    margin: 0 auto;
    margin-bottom:150px;
}

.main table {
    border-collapse: collapse;
    border: solid 1px;
    width: 100%;
}

.main th {
    border: solid 1px;
}

.main img{
    width:100%;
    margin-top:10px;

}

.main iframe {
height:500px;
}

/*フッター*/
.arm-menu li {
    width: 40%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: #eeeeee solid 1px;
}

.bougu-menu li {
    width: 40%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    border-bottom: #eeeeee solid 1px;
}

.footer {
    width: 100%;
    clear: left;

}

}
.footer table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

.footer td {
    width: 2000px;
    margin: 0;
    padding-left: 10px;
    height: 100px;
    border-bottom: solid 4px #eeeeee;

    font-size: 35px;
    /*セルの中央に配置*/
    line-height: 100px;
}

.footer h1 {
    border-bottom: #de1260 9px solid;
    height: 60px;
    padding-top: 40px;
    font-size: 35px;
    align-content: center;
    text-align: center;
    background-color: #ff4275;
    color: white;
}

.footer a {
    text-decoration: none;
    color: #2E2F30;
}

.footer a:hover {
    background: white;
}

.footer a:active {
    background-color: #eeeeee;
}

.footer-bottom {
    background-color: #ff4275;
    height: 200px;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    color: white;
    text-align: center;
}

.footer-bottom li {
    width: 20%;
    float: left;
    margin-bottom: 10px;
}

/*ページトップへ */
.kotei {
    position: fixed;
    bottom: 0px;
    font-size: 40px;
    background-color: #eeeeee;
    width: 100%;
    height: 70px;
    padding-top: 35px;
    text-align: center

}

.kotei a {
    display: block;
    height: 100%;
    width: 100%;
}

