/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a{
    text-decoration:none;
}

a:visited{
    color:white;
}
.footer{
    border-top:solid 1px black;
    clear:left;

}
.menu{
    background-color:#ff4275;
}
.footer table{
    width:100%;
    border-collapse:collapse;
    border:solid 1px black ;

    background-color: white;
}

.footer  td{
    padding-left:10px;
    height:125px;
    font-size:35px;
    border-bottom:solid 1px #999999;
    color:black;
}

.main{
    margin: 0 auto;
    clear:left;


}
.main table{
    border-collapse:collapse;
    border:solid 1px;

    background-color: RED;

}

.main table li{

    margin:10px;
}
.main th {
    border: solid 1px;

}
.main td{
    border:solid 1px;

}






.header{
    width:100%;
}

.header img{

    display: block;
    width:100%;
    height:100%;
    background-color:white;

}
.header-image{
    height:200px;
}
.header table{
    border-collapse:collapse;
    width:100%;
    margin-left:0 auto;
    margin-right:0 auto;
    height:125px;
    background-color:#999999;

}
body { margin:0px; }

.header table th{
    font-size:35px;
    margin:0px;
    width:25%;
    background-color:#ff4275;
    color:white;
    border:solid #ffffff 1px;
    font-weight: normal;


}