// Place all the styles related to the bougus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bougu td {
  border-collapse: collapse;
  text-align: center;
  font-size: 30px;
  padding:20px 0 20px 0;
  border:white solid 1px;
}

.bougu table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.bougu table th {
  background-color: #eeeeee;
  border:solid 1px white;
  font-size:30px;

}

