// Place all the styles related to the hakkens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hakken {
  padding: 10px;
}

.hakken table {
  width: 100px;
  font-size: 30px;
  border-color: white !important;
  text-align:center;

}

.hakken table td {
  font-size: 30px;
  padding: 0px;
  border-color: white !important;

}

.even td {
  background-color: #EEEEEE;
  margin:0px;
}

.hakken table th {
  font-size: 30px;
  background-color:#EEEEEE;
  border:white;
  height:20px;


}

.hakken table td img {
  width: 100px;
  height: 100px;
}

.hakken img{
  width:80px;
  height:80px;
}

.mikata table td img{
  width:45%;
  height:auto;

}
.hakken-islands td{
  font-size: 25px !important;
}

.hakken-title{
  background-color:#7793d1;
  font-size: 20px;
  margin-top:100px;
  color:white;
  font-weight:normal;
}