// Place all the styles related to the hakkens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hakken {
  padding:10px;
}
.hakken table {
  width:100px;
  font-size:8px;
}

.hakken table td{
  font-size:10px;
  padding:0px;

}

.hakken th{
  font-size:10px;

}