// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  border-collapse:collapse;
  border:solid 1px;

}

th {
  border: solid 1px;

}
td{
  border:solid 1px;
}

.contents{
  float:left;
}