// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kiji {
  margin: 50px;
  line-height: 70px;
  font-size: 13px;
}

.kiji-title {
	font-weight:normal;
	border-bottom: solid #000 2px;
	padding-bottom:30px;

}
.kiji-subtitle {
	margin-bottom:150px;
	font-size:12px;
}

.kiji-subhead {

  font-size: 35px;
  margin: 0px;
  padding: 5px;
  border-bottom: solid #ffffa4 5px;
  width:500px;

}
