<!DOCTYPE html>
<html>
<head>
  <title>MonsterHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<body class = "sidebar">
<ul>
  <li>トップページ</li>
  <li>武器一覧</li>
  <li>防具一覧</li>
  <li>モンスター一覧</li>

</ul>

</body>

<%= yield %>

</body>
</html>
